*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: url(moon.jpg);
    background-position: center;
    background-size: cover;
    height: 175vh;
    
    
}
.nav{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    height: 70px;
    float: left;
}
.logo{
    color: #f8910b;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.manu{
    height: 70px;
    width:400px ;
    float: left;
    
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: azure;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #f8910b;
}
.search{
    float: left;
    width: 300px;
    margin-left: 270px;
}
.src{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid orange;
    margin-top: 13px;
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    float: left;
    border-right: none;
    font-size: 16px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #f8910b;
    
    border: 2px solid #f8910b;
    margin-top: 13px;
    color: white;
    font-size: 15px;
   border-bottom-right-radius: 5px;
   border-bottom-right-radius:5px ;
}
.btn:focus{
    outline: none;
}
.src:focus{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
    color: white;
    
}
.content .pra{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content  h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .cnt{
    width:160px ;
    height: 40px;
   background: #f8910b;
   border: none;
   margin-bottom: 10px;
   margin-left: 20px;
   font-size: 18px;
   border-radius: 10px;
   cursor: pointer;
   transition:.4s ease ;
}
.content .cnt a{
    text-decoration: none;
    color: black;
    transition:0.3s ease ;
}
.cnt:hover{
    background-color: white
    
}
.content span{
    color: #f8910b;
    font-size: 60px;
}
.form{
    height: 350px;
    width: 250px;
    position: absolute;
    top:-20px;
    left:870px;
   background:linear-gradient(to top,black 50%);
   border-radius: 20px;
   padding: 20px;
    
}
.form h2{
    width: 200px;
    text-align: center;
    font-family:sans-serif;
    color: #f8910b;
    font-size: 20px;
    margin: 2px;
    padding: 8px;
    background-color: bisque;
    border-radius: 10px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #f8910b ;
    border-top: none;
    border-right: none;
    border-left: none;
    color:white;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: white;
    font-family: arial;
}
.btnn{
    width: 240px;
    height: 30px;
    background: #f8910b;
    border: none;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    color: aliceblue;
}
.btnn a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family:  sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}
.btnn:hover{
    background-color: azure;
    color: #f8910b;
}
.form .link{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #f8910b;
}
.liw{
    padding-top: 15px;
    text-align: center;
    padding-bottom: 10px;

}